/* begin general styling */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--brand);
}

:root {
  --brand: rgb(238, 221, 211);
  --rgb-brand: 238, 221, 211;

  --blue-dark: rgb(188, 212, 230);
  --rgb-blue-dark: 188, 212, 230;

  --blue-light: rgb(240, 245, 249);
  --rgb-blue-light: 240, 245, 249;

  --light: rgba(240, 239, 235);
  --rgb-light: 240, 239, 235;

  --text-dark: rgb(34, 34, 34);
  --rgb-text-dark: 34, 34, 34;

  --text-light: rgb(102, 102, 102);
  --rgb-text-light: 102, 102, 102;
}

.hidden {
  opacity: 0;
  z-index: -9999;
}

.App {
  background: var(--blue-light);
  color: var(--dark-a);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
/* begin links */
a {
  display: flex;
  outline: none;
  text-decoration: none;
  border-radius: 0.5em;
  border: none;
  border-bottom: 2px solid transparent;
  transform: translateY(2px);
  transition: all 100ms ease-out;
}

a:link {
  color: var(--text-dark);
}

a:visited {
  color: var(--text-light);
}

a:focus {
  outline: 1px dashed var(--text-light);
  border-bottom: 2px solid;
  background: var(--blue-light);
  color: var(--text-light);
  transform: translateY(0);
}

a:hover {
  border-bottom: 2px solid;
  background: var(--blue-light);
  color: var(--text-light);
  transform: translateY(0);
}

a:active {
  outline: 0 none;
  background: var(--brand);
  color: var(--text-light);
  transform: translateY(2px);
}
/* end links */
/* begin typography */
h1,
h2,
h3 {
  font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  padding: 0.25em;
}
/* end typography */
/* begin layout */

article p {
  max-width: 60ch;
  margin: 0 auto;
  line-height: 1.5;
}
/* end layout */

/* end general styling */

/* begin specific styling */
/* begin Header */

.fa-calc,
.fa-reset {
  font-size: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 0.4rem;
  padding: 1rem;
  background: var(--blue-dark);
  width: 100%;
}
header h1 {
  font-size: clamp(1rem, 2.2rem * 3vh, 6rem);
  margin: 0;
  background-color: var(--brand);
  border-radius: 0.25em;
}
header p {
  font-size: 1.2rem;
  line-height: 1;
}
header ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
}
header li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
header a {
  font-size: 2rem;
  padding: 0.25em;
}
/* end Header */
/* begin Calculator */
/* * begin form */
form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

form > * > * {
  max-width: 30vw;
  text-align: center;
}

label,
select,
input,
button {
  display: block;
  text-align: center;
}

label {
  margin-top: 0.5rem;
  color: var(--text-light);
}

/* ** begin select */
select {
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid rgba(var(--rgb-brand), 1);
  padding: 0.25em 0.25em 0.25em 0.15em;
  background: var(--blue-light);
  outline: none;
  transition: all 100ms ease-out;
}

select:focus {
  outline: 1px dashed var(--text-light);
  background: rgba(var(--rgb-brand), 0.5);
}

select:active {
  background: rgba(var(--rgb-brand), 0.5);
}
/* ** end select */

/* ** begin input */
/* begin hide the number spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* end hide the number spinners */

input {
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid rgba(var(--rgb-brand), 1);
  padding: 0.25em 0.25em 0.25em 0.15em;
  background: var(--blue-light);
  outline: none;
  min-width: 0;
  transition: all 100ms ease-out;
}

input:focus {
  outline: 1px dashed var(--text-light);
  background: rgba(var(--rgb-brand), 0.5);
}

input:active {
  background: rgba(var(--rgb-brand), 0.5);
  transform: scale(1.01);
}
/* ** end input */
/* ** begin button */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid transparent;
  transform: translateY(2px);
  transition: all 100ms ease-out;
}

button:focus {
  outline: 1px dashed var(--text-light);
  border-bottom: 2px solid;
  background: var(--blue-light);
  color: var(--text-light);
  transform: translateY(0);
}

button:hover {
  outline: 0 none;
  border-bottom: 2px solid;
  background: var(--blue-light);
  color: var(--text-light);
  transform: translateY(0);
}

button:active {
  outline: 0 none;
  background: var(--brand);
  color: var(--text-light);
  transform: translateY(2px);
}
/* ** end button */
/* * end form */

.results {
  margin: 2rem;
  font-size: 110%;
  line-height: 1.4;
}
/* end Calculator */
/* begin About */
#about {
  padding: 1rem;
  font-size: 1.1rem;
  background: var(--brand);
  transition: all 100ms ease-out;
  border-radius: 2rem;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#about h2 {
  margin-bottom: 0.25em;
}
/* end About */

/* end specific styling */

/* handle an unexpectedly narrow viewport */
@media screen and (max-width: 350px) {
  :root {
    font-size: 14px;
  }
}
